/* stylelint-disable max-line-length */

/* BMSHumanity - Display/Heading font */
@font-face {
  font-family: BMSHumanity;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/BMSHumanity-light.woff2') format('woff2');
}

@font-face {
  font-family: BMSHumanity;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BMSHumanity-Regular.woff2') format('woff2');
}

@font-face {
  font-family: BMSHumanity;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/BMSHumanity-medium.woff2') format('woff2');
}

/* BMSHumanityNw - Body/Narrow font */
@font-face {
  font-family: BMSHumanityNw;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/BMSHumanityNw-Light.woff2') format('woff2');
}

@font-face {
  font-family: BMSHumanityNw;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BMSHumanityNw-Regular.woff2') format('woff2');
}

@font-face {
  font-family: BMSHumanityNw;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/BMSHumanityNw-Bold.woff2') format('woff2');
}
